/*
 * Custom styles
 */

.ws-article {
    margin-bottom: $ws-vert-spacing;

    a {
        &, &:hover, &:focus, &:active {
            color: inherit;
            text-decoration: none;
        }
    }

    b {
        display: inline-block;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.ws-footer {
    margin-top: 40px;
    font-size: 14px;

    .container {
        max-width: 1140px;
        padding: 20px;
        border-top: 2px solid #ccc;
    }
}

.ws-image {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.ws-cart {
    td {
        width: 15%;
        min-width: 150px;
        text-align: center;

        &:first-child {
            width: 55%;
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }

    tfoot {
        td:last-child {
            border-top: 2px solid #aaa;
            font-weight: bold;
        }
    }

    .close {
        float: none;
    }
}

.ws-profile-personal {
    [class*="col"] {
        margin-bottom: 10px;
    }

    span {
        display: block;
        font-size: .7rem;
    }
}