/**
 * Bootstrap overrides
 */
.navbar {
  margin-bottom: 40px;
}

textarea {
  resize: none;
}

/*
 * Custom styles
 */
.ws-article {
  margin-bottom: 20px;
}

.ws-article a, .ws-article a:hover, .ws-article a:focus, .ws-article a:active {
  color: inherit;
  text-decoration: none;
}

.ws-article b {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
}

.ws-footer {
  margin-top: 40px;
  font-size: 14px;
}

.ws-footer .container {
  max-width: 1140px;
  padding: 20px;
  border-top: 2px solid #ccc;
}

.ws-image {
  width: 100%;
  height: 200px;
  background-size: cover;
}

.ws-cart td {
  width: 15%;
  min-width: 150px;
  text-align: center;
}

.ws-cart td:first-child {
  width: 55%;
  text-align: left;
}

.ws-cart td:last-child {
  text-align: right;
}

.ws-cart tfoot td:last-child {
  border-top: 2px solid #aaa;
  font-weight: bold;
}

.ws-cart .close {
  float: none;
}

.ws-profile-personal [class*="col"] {
  margin-bottom: 10px;
}

.ws-profile-personal span {
  display: block;
  font-size: .7rem;
}
