<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><?= htmlspecialchars($title) ?></title>

        <meta name="theme-color" content="#343a40">
        <link rel="icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Sport Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <?php foreach ($categories as $category): ?>
                        <li class="nav-item">
                            <a href="/category?id=<?= htmlspecialchars($category->getId()) ?>" class="nav-link">
                                <?= htmlspecialchars($category->getTitle()) ?>
                            </a>
                        </li>
                    <?php endforeach ?>
                </ul>
                <div class="my-2 my-lg-0 mr-lg-2">
                    <form action="/search" method="get" class="form-inline">
                        <div class="input-group">
                            <input type="search" name="q" class="form-control" placeholder="Suchen">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">&gt;</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="my-2 my-lg-0">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/cart" class="nav-link">Warenkorb</a>
                        </li>
                        <?php if ($user): ?>
                            <li class="nav-item">
                                <a href="/profile" class="nav-link"><?= htmlspecialchars($user->getFirstname()) ?></a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">Logout</a>
                            </li>
                        <?php else: ?>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Login</a>
                            </li>
                        <?php endif ?>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            <?= $content ?>
        </main>

        <footer class="ws-footer mx-auto">
            <div class="container">
                <a href="<?= $sourceLink ?>" class="text-muted" target="_blank">
                    Sourcecode
                </a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <script src="/script.js"></script>
    </body>
</html>