<div class="row mb-4">
    <div class="col-md-12">
        <h1><?= htmlspecialchars($article->getTitle()) ?></h1>
    </div>
</div>
<div class="row ws-article mb-5">
    <div class="col-md-3">
        <a href="<?= htmlspecialchars($article->getImage()) ?>">
            <div class="ws-image mb-2" style="background-image: url('<?= htmlspecialchars($article->getImage()) ?>')"></div>
        </a>
    </div>
    <div class="col-md-9">
        <p><?= nl2br(htmlspecialchars($article->getDescription())) ?></p>
        <b class="mb-4"><?= number_format($article->getPrice(), 2, ',', ' ') ?> €</b>
        <form class="form-inline" action="/cart?add=<?= htmlspecialchars($article->getId()) ?>" method="post">
            <div class="input-group">
                <input class="form-control" type="number" name="amount" value="1">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">+</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <h2>Bewertungen</h2>
    </div>
</div>
<?php if (count($article->getReviews()) === 0): ?>
    <div class="row">
        <div class="col-md-12">
            Noch keine Bewertungen vorhanden
        </div>
    </div>
<?php endif ?>
<?php foreach ($article->getReviews() as $review): ?>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2">
                <!-- XSS -->
                <div class="card-body"><?= $review ?></div>
            </div>
        </div>
    </div>
<?php endforeach ?>