<div class="row mb-3">
    <div class="col-md-12">
        <h1>Warenkorb</h1>
    </div>
</div>
<?php if (count($cart) === 0): ?>
    <div class="row">
        <div class="col-md-12">
            <p>Du hast noch nichts im Warenkorb</p>
        </div>
    </div>
<?php else: ?>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-borderless ws-cart">
                <tbody>
                    <?php foreach ($cart as $cartEntry): ?>
                        <tr>
                            <td>
                                <a href="/article?id=<?= $cartEntry->getArticle()->getId() ?>">
                                    <?= htmlspecialchars($cartEntry->getArticle()->getTitle()) ?>
                                </a>
                            </td>
                            <td>
                                <?= $cartEntry->getAmount() ?> Stk.
                            </td>
                            <td>
                                <a href="/cart?remove=<?= htmlspecialchars($cartEntry->getArticle()->getId()) ?>" class="close">
                                    &times;
                                </a>
                            </td>
                            <td>
                                <?= number_format($cartEntry->getCost(), 2, ',', ' ') ?> €
                            </td>
                        </tr>
                    <?php endforeach ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td><?= number_format($totalCost, 2, ',', ' ') ?> €</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row justify-content-end">
        <a href="/checkout" class="btn btn-success col-md-1">
            Bestellen
        </a>
    </div>
<?php endif ?>