<?php foreach ($articles as $article): ?>
    <div class="row ws-article mb-4">
        <div class="col-md-4">
            <a href="/article?id=<?= htmlspecialchars($article->getId()) ?>">
                <div class="ws-image" style="background-image: url('<?= htmlspecialchars($article->getImage()) ?>')"></div>
            </a>
        </div>
        <div class="col-md-8">
            <a href="/article?id=<?= htmlspecialchars($article->getId()) ?>">
                <h2><?= htmlspecialchars($article->getTitle()) ?></h2>
                <p><?= nl2br(htmlspecialchars(mb_strimwidth($article->getDescription(), 0, 200, '...'))) ?></p>
                <b><?= number_format($article->getPrice(), 2, ',', ' ') ?> €</b>
            </a>
        </div>
    </div>
<?php endforeach ?>
