<div class="row mb-3">
    <div class="col-md-12">
        <h1>Vielen Dank für Deine Bestellung</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Wir werden uns schnellstmöglich um Sie kümmern<br>
            <a href="/profile#orders">Deine Bestellübersicht</a>
        </p>
    </div>
</div>