<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            Bitte melde Dich an um deinen Einkauf abschließen zu können<br>
            <a href="/login?returnUrl=/checkout" class="alert-link">Zum Login</a>
        </div>
    </div>
</div>