<div class="row">
    <div class="col-md-12">
        <h1>Bestellung abschließen</h1>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-12">
        <p>Bitte vervollständige Deine Daten, damit wir deine Bestellung abschließen können</p>
    </div>
</div>

<form action="/checkout" method="post" novalidate>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="btn-group btn-group-toggle">
                <label class="btn btn-primary active">
                    <input type="radio" name="addropt" id="addrauto" autocomplete="off">
                    Adressen übernehmen
                </label>
                <label class="btn btn-primary" data-todo>
                    <input type="radio" name="addropt" id="addrmanual" autocomplete="off">
                    Abweichendende Liefer- und Rechnungsadresse
                </label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstname">Vorname</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="<?= $customer->getFirstname() ?>" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="lastname">Nachname</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="<?= $customer->getLastname() ?>" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="street">Vorname</label>
            <input type="text" class="form-control" id="street" name="street" value="<?= $customer->getStreet() ?>" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="hno">Hausnr.</label>
            <input type="text" class="form-control" id="hno" name="hno" value="<?= $customer->getHno() ?>" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="zip">PLZ</label>
            <input type="number" class="form-control" id="zip" name="zip" value="<?= $customer->getZip() ?>" readonly>
        </div>
        <div class="form-group col-md-10">
            <label for="city">Stadt</label>
            <input type="text" class="form-control" id="city" name="city" value="<?= $customer->getCity() ?>" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="iban">IBAN:</label>
            <input type="text" data-validate="iban" class="form-control<?= isset($errors['iban']) ? ' is-invalid' : '' ?>" id="iban" name="iban" autofocus required>
            <small class="form-text text-muted">z.B. DE45100708480513128908</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="comment">Kommentar</label>
            <!-- Exposure of the probably used db field type by limiting the input length in frontend -->
            <textarea class="form-control<?= isset($errors['comment']) ? ' is-invalid' : '' ?>" name="comment" id="comment" rows="3" maxlength="65535"></textarea>
        </div>
    </div>
    <input type="hidden" name="csrf" value="<?= $csrf ?>">
    <div class="form-row justify-content-end">
        <button type="submit" class="btn btn-success col-md-1">Bestellen</button>
    </div>
</form>