<div class="row mb-4">
    <div class="col-md-12">
        <h1>Sport Shop</h1>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <h2>Empfohlene Artikel</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 card-deck">
        <?php foreach ($articles as $article): ?>
            <div class="card ws-article">
                <a href="/article?id=<?= htmlspecialchars($article->getId()) ?>">
                    <img class="card-img-top" src="<?= htmlspecialchars($article->getImage()) ?>" height="250">
                    <div class="card-body">
                        <h3 class="card-title"><?= htmlspecialchars($article->getTitle()) ?></h3>
                        <p class="card-text"><?= number_format($article->getPrice(), 2, ',', ' ') ?> €</p>
                    </div>
                </a>
            </div>
        <?php endforeach ?>
    </div>
</div>