<?php if (isset($errors['auth'])): ?>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <div class="alert alert-danger">
                Deine Benutzerdaten sind nicht korrekt
            </div>
        </div>
    </div>
<?php endif ?>

<div class="row justify-content-center mb-5">
    <div class="col-md-6">
        <form action="<?= $actionUrl ?>" method="post" novalidate>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control<?= isset($errors['email']) ? ' is-invalid' : '' ?>" id="email" name="email" required>
                <div class="invalid-feedback">Bitte gib Deine E-Mailadresse ein</div>
            </div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" class="form-control<?= isset($errors['password']) ? ' is-invalid' : '' ?>" id="password" name="password" required>
                <div class="invalid-feedback">Bitte gib Dein Passwort ein</div>
            </div>
            <input type="hidden" name="csrf" value="<?= $csrf ?>">

            <div class="form-row mb-3">
                <div class="col-12">
                    <a href="#" data-todo>Noch keinen Account?</a>
                </div>
            </div>

            <div class="form-row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary mr-2">Anmelden</button>
                    <a href="#" data-todo>Passwort vergessen</a>
                </div>
            </div>
        </form>
    </div>
</div>