<div class="row mb-3">
    <div class="col-md-12">
        <h1>Die Seite konnte nicht gefunden werden</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="/">Zur Startseite</a>
        </p>
    </div>
</div>