<div class="row mb-2">
    <div class="col-md-12">
        <h1>Dein Profil</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="nav nav-pills flex-column">
            <a href="#personal" class="nav-link active" data-toggle="pill">Deine Daten</a>
            <a href="#orders" class="nav-link" data-toggle="pill">Deine Bestellungen</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane fade show active ws-profile-personal" id="personal">
                <div class="row">
                    <div class="col-md-6">
                        <span>Vorname</span>
                        <?= htmlspecialchars($user->getFirstname()) ?>
                    </div>
                    <div class="col-md-6">
                        <span>Nachname</span>
                        <?= htmlspecialchars($user->getLastname()) ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span>E-Mail</span>
                        <?= htmlspecialchars($user->getEmail()) ?>
                    </div>
                    <div class="col-md-6">
                        <span>Passwort</span>
                        *****
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Straße</span>
                        <?= htmlspecialchars($user->getStreet()) ?>
                    </div>
                    <div class="col-6">
                        <span>Hausnr.</span>
                        <?= htmlspecialchars($user->getHno()) ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <span>PLZ</span>
                        <?= htmlspecialchars($user->getZip()) ?>
                    </div>
                    <div class="col-10">
                        <span>Stadt</span>
                        <?= htmlspecialchars($user->getCity()) ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span>Telefon</span>
                        <?= htmlspecialchars($user->getPhone()) ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#" data-todo>Daten ändern</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="orders">
                <?php foreach ($orders as $order): ?>
                    <section class="mb-5">
                        <div class="row mb-1">
                            <div class="col-12">
                                <h2><?= $order->getCreated()->format('d.m.Y') ?></h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <small class="text-muted">
                                    Bestellnr.: <?= $order->getId() ?>
                                </small>
                            </div>
                            <div class="col-4">
                                <small class="text-muted">
                                    Gezahlt mit: <?= htmlspecialchars($order->getIban()) ?>
                                </small>
                            </div>
                            <?php if ($order->getComment()): ?>
                                <div class="col-5">
                                    <small class="text-muted">
                                        Kommentar: <?= htmlspecialchars($order->getComment()) ?>
                                    </small>
                                </div>
                            <?php endif ?>
                        </div>
                        <?php foreach ($order->getCartEntries() as $entry): ?>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <a href="/article?id=<?= htmlspecialchars($entry->getArticle()->getId()) ?>">
                                        <?= htmlspecialchars($entry->getArticle()->getTitle()) ?>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <?php if ($entry->getReview()): ?>
                                        <span class="ws-disabled">Bewertung bereits geschrieben</span>
                                    <?php else: ?>
                                        <a href="/review?article=<?= htmlspecialchars($entry->getArticle()->getId()) ?>&order=<?= htmlspecialchars($order->getId()) ?>">
                                            Bewertung schreiben
                                        </a>
                                    <?php endif ?>
                                </div>
                                <div class="col-1">
                                    <?= htmlspecialchars($entry->getAmount()) ?> Stk.
                                </div>
                                <div class="col-2 text-right">
                                    <?= number_format($entry->getCost(), 2, ',', ' ') ?> €
                                </div>
                            </div>
                        <?php endforeach ?>
                    </section>
                <?php endforeach ?>
            </div>
        </div>
    </div>
</div>