<div class="row mb-3">
    <div class="col-md-12">
        <h1>Vielen Dank für Deine Bewertung</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="/profile#orders">Zur Startseite</a>
        </p>
    </div>
</div>