<div class="row mb-2">
    <div class="col-md-12">
        <h1>Teile Deine Erfahrungen mit uns</h1>
    </div>
</div>

<form action="<?= $actionUrl ?>" method="post" novalidate>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="review">Deine Bewertung zu diesem Artikel</label>
            <textarea class="form-control<?= isset($errors['review']) ? ' is-invalid' : '' ?>" name="review" id="review" rows="5" autofocus required></textarea>
        </div>
    </div>
    <input type="hidden" name="csrf" value="<?= $csrf ?>">
    <div class="form-row justify-content-end">
        <button type="submit" class="btn btn-success col-md-2">Bewertung abgeben</button>
    </div>
</form>